<Plugin "python">
    ModulePath "/usr/lib64/collectd/"

    Import "tendrl_glusterfs_peer_network_throughput"

    <Module "tendrl_glusterfs_peer_network_throughput">
        Verbose "True"
        peer_name "{{ peer_name }}"
        Interval 30
    </Module>
</Plugin>
